<!-- 푸터 영역 -->
<style>
  footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ededed;
  height: 100px;

  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

</style>
  </head>
  <footer>
    <div>copyright@ 배달의 팔족</div>
  </footer>
</html>
