<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
      }

      main {
        flex-grow: 1;
      }

      footer {
        margin-top: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f8f9fa;
        height: 80px;
      }
    </style>
  </head>
  <body>
    <main>
      <!-- 페이지의 실제 내용 -->
    </main>

    <footer>
      <div>copyright@ 배달의 팔족</div>
    </footer>
  </body>
</html>
