<!-- 헤더 영역 -->
<style>
  header .wrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
</style>

<header>
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <a id="main-page" class="navbar-brand" href="/">
        <img src="/images/logo.png" alt="" width="146" height="48" />
      </a>
      <!-- 마이페이지, 로그인(로그아웃) -->
      <a class="mypagebtn" href="/mypage">마이 페이지</a>
      <a id="logout" class="logout">로그아웃</a>
      <a id="login" class="login" href="/login/clients">로그인</a>
    </div>
  </nav>
  <script>
    let userInfo;
    const loginBtn = document.getElementById('login');
    const logoutBtn = document.getElementById('logout');

    // 쿠키값 가져오기
    document.addEventListener('DOMContentLoaded', async () => {
      const cookies = {};
      const cookieArr = document.cookie.split('; ');
      cookieArr.forEach((cookie) => {
        const [name, value] = cookie.split('=');
        cookies[name] = value;
      });

      // authorization 쿠키가 있는가?
      if (cookies?.authorization) {
        logoutBtn.style.display = 'block';
        loginBtn.style.display = 'none';

      } else {
        logoutBtn.style.display = 'none';
        loginBtn.style.display = 'block';
      }
    });

    logoutBtn.addEventListener('click', async () => {
      event.preventDefault();
      const res = await fetch('/logout', {
        method: 'DELETE',
        headers: {
          Authorization: localStorage.getItem('access_token'),
        },
      });
      if (res.status === 200) {
        alert('로그아웃되었습니다.');

        // window.localStorage.removeItem('division');
        window.location.href = '/';
      } else if (res.status === 401) {
        alert('로그인상태가 아닙니다.');
      }
    });
  </script>
</header>