<!-- !!! 지울 파일입니다 -->
<button
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#modalUserEdit"
>
  정보 수정
</button>

<!-- 모달 : 정보 수정(사장) -->
<div id="modal-owner-edit" class="modal">
  <div class="modal-header">
    <p>정보 수정</p>
    <button type="button" class="btn-close-modal">X</button>
  </div>
  <div class="input-wrap">
    <label for="">상호명</label>
    <input type="text" id="owner-edit-name" />
  </div>
  <div class="input-wrap">
    <label for="">사업자 등록번호</label>
    <input type="text" id="owner-edit-owner_number" />
  </div>
  <button id="btn-owner-edit">수정하기</button>
</div>

<!-- 모달 : 정보 수정(가게 정보) -->
<div id="modal-restaurant-edit" class="modal">
  <div class="modal-header">
    <p>가게 정보 수정</p>
    <button type="button" class="btn-close-modal">X</button>
  </div>
  <div class="input-wrap">
    <label for="">가게명</label>
    <input type="text" id="restaurant-edit-name" />
  </div>
  <div class="input-wrap">
    <label for="">주소</label>
    <input type="text" id="restaurant-edit-address" />
  </div>
  <div class="input-wrap">
    <label for="">전화번호</label>
    <input type="text" id="restaurant-edit-phome_number" />
  </div>
  <div class="input-wrap">
    <label for="">영업시간</label>
    <input type="text" id="restaurant-edit-biz_hours" />
  </div>
  <button id="btn-restaurant-edit">적용하기</button>
</div>

<!-- 모달 : 정보 수정(메뉴) -->
<div id="modal-menus-edit" class="modal">
  <div class="modal-header">
    <p>메뉴 수정</p>
    <button type="button" class="btn-close-modal">X</button>
  </div>
  <ul>
    <!-- menus : data로오? 이름 확인 필요 메뉴 데이터임 -->
    <% menus.forEach((menu)=>{ %>
    <li>
      <strong><%= menu.name %></strong>
      <div class="flex-box">
        <p><span class="content-title">이미지</span><%= menu.image %></p>
        <button>이미지 변경</button>
      </div>
      <div class="input-wrap">
        <label for="">음식 이름</label>
        <input type="text" id="menus-edit-name" value="<%= menu.name %>" />
      </div>
      <div class="input-wrap">
        <label for="">가격</label>
        <input type="text" id="menus-edit-name" value="<%= menu.price %>" />
      </div>
    </li>
    <% }) %>
  </ul>
  <button id="btn-menus-edit">적용하기</button>
</div>
