<h2>사장님 회원가입</h2>
<form id="form-owner" onsubmit="return false;">
  <div class="input-box">
    <div class="input-wrap">
      <label for="">이메일(ID)</label>
      <input type="email" id="sign-in-email" required />
    </div>
    <button id="sign-up-btn">인증번호 전달</button>
  </div>
  <div class="input-box">
    <div class="input-wrap">
      <label for="">이메일 인증번호</label>
      <input type="number" id="email-confirm" required />
    </div>
    <span class="confirm-time">3:00</span>
    <div class="btns">
      <button id="resend-btn">재전송</button>
      <button id="confirm-btn">인증완료</button>
    </div>
  </div>
  <div class="input-wrap">
    <label for="">이름</label>
    <input type="text" id="sign-in-name" required />
  </div>
  <div class="input-wrap">
    <label for="">비밀번호</label>
    <input type="password" id="sign-in-pw" required />
  </div>
  <div class="input-wrap">
    <label for="">비밀번호 확인</label>
    <input type="password" id="sign-in-pw-confirm" required />
  </div>
  <div>
    <label for="">사업자등록주소</label>
    <input type="text" id="sign-in-owner-name" required />
  </div>
  <div>
    <label for="">사업자등록번호</label>
    <input type="text" id="sign-in-owner-num" required />
  </div>

  <button type="submit" id="owner-sign-up" class="btn-primary btn-full">회원가입</button>
</form>