<h2>회원가입</h2>
<form id="form-client" onsubmit=return false>
  <div class="input-box">
    <div class="input-wrap">
      <label for="">이메일(ID)</label>
      <input type="email" name="email" id="sign-in-email" required />
    </div>
    <button id="sign-up-btn">인증번호 전달</button>
  </div>
  <div class="input-box">
    <div class="input-wrap">
      <label for="">이메일 인증번호</label>
      <input type="number" id="email-confirm" required />
    </div>
    <span class="confirm-time">3:00</span>
    <div class="btns">
      <button id="resend-btn">재전송</button>
      <button id="confirm-btn">인증완료</button>
    </div>
  </div>
  <div class="input-wrap">
    <label for="">이름</label>
    <input type="text" name="name" id="sign-in-name" required />
  </div>
  <div class="input-wrap">
    <label for="">비밀번호</label>
    <input type="password" pw="password" id="sign-in-pw" required />
  </div>
  <div class="input-wrap">
    <label for="">비밀번호 확인</label>
    <input type="password" pw="confirmPassword" id="sign-in-pw-confirm" required />
  </div>
  <button type="submit" id="client-sign-up" class="btn-primary btn-full">회원가입</button>
</form>