<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/reset.css" />
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
    <title>배달의 팔족</title>
  </head>

  <body>
    <!-- header -->
    <%- include('includes/header') %>
    <!-- main -->
    <main class="sign-page">
      <% if (userType==='clients' ) { %>
      <h2>회원가입</h2>
      <form id="form-client" onsubmit="return" false>
        <div class="input-wrap">
          <label for="">이메일(ID)</label>
          <div class="flex-box">
            <input type="email" name="email" id="sign-in-email" class="form-control" required />
            <button id="sign-up-btn" class="btn btn-primary btn-sm">인증하기</button>
          </div>
        </div>
        <div class="input-wrap">
          <label for="">이메일 인증번호</label>
          <div class="flex-box">
            <input type="number" id="email-confirm" class="form-control" required />
            <div class="flex-box">
              <button id="resend-btn" class="btn btn-outline-secondary">재전송</button>
              <button id="confirm-btn" class="btn btn-secondary">인증완료</button>
            </div>
          </div>
        </div>
        <div class="input-wrap">
          <label for="">이름</label>
          <input type="text" name="name" id="sign-in-name" class="form-control" required />
        </div>
        <div class="input-wrap">
          <label for="">비밀번호</label>
          <input type="password" pw="password" id="sign-in-pw" class="form-control" required />
        </div>
        <div class="input-wrap">
          <label for="">비밀번호 확인</label>
          <input
            type="password"
            pw="confirmPassword"
            id="sign-in-pw-confirm"
            class="form-control"
            required
          />
        </div>
        <button type="submit" id="client-sign-up" class="btn-primary btn full btn-primary">
          회원가입
        </button>
      </form>

      <% } else if (userType==='owners' ) { %>
      <h2>사장님 회원가입</h2>
      <form id="form-owner" onsubmit="return false;">
        <div class="input-box">
          <div class="input-wrap">
            <label for="">이메일(ID)</label>
            <input type="email" id="sign-in-email" class="form-control" required />
          </div>
          <button id="sign-up-btn" class="btn btn-primary btn-sm">인증번호 전달</button>
        </div>
        <div class="input-box">
          <div class="input-wrap">
            <label for="">이메일 인증번호</label>
            <div class="flex-box">
              <input type="number" id="email-confirm" class="form-control" required />
              <div class="flex-box"></div>
              <button id="resend-btn" class="btn btn-outline-secondary">재전송</button>
              <button id="confirm-btn" class="btn btn-secondary">인증완료</button>
            </div>
          </div>
        </div>
        <div class="input-wrap">
          <label for="">이름</label>
          <input type="text" id="sign-in-name" class="form-control" required />
        </div>
        <div class="input-wrap">
          <label for="">비밀번호</label>
          <input type="password" id="sign-in-pw" class="form-control" required />
        </div>
        <div class="input-wrap">
          <label for="">비밀번호 확인</label>
          <input type="password" id="sign-in-pw-confirm" class="form-control" required />
        </div>
        <div>
          <label for="">사업자등록주소</label>
          <input type="text" id="sign-in-owner-name" class="form-control" required />
        </div>
        <div>
          <label for="">사업자등록번호</label>
          <input type="text" id="sign-in-owner-num" class="form-control" required />
        </div>

        <button type="submit" id="owner-sign-up" class="btn-primary btn full btn-primary">
          회원가입
        </button>
      </form>

      <% } %>
    </main>
    <!-- footer -->
    <%- include('includes/footer') %>
    <script>
      const authEmailBtn = document.getElementById('sign-up-btn');
      const inputEmail = document.getElementById('sign-in-email');

      const inputAuthNum = document.getElementById('email-confirm');
      const confirmBtn = document.getElementById('confirm-btn');

      const resendBtn = document.getElementById('resend-btn');

      const signupClient = document.getElementById('form-client');
      const signupOwner = document.getElementById('form-owner');

      console.log('authEmailBtn = ', authEmailBtn);

      // 인증번호를 보내는 버튼
      authEmailBtn.addEventListener('click', () => {
        this.sendAuthNum();
      });

      // 인증확인 버튼
      confirmBtn.addEventListener('click', () => {
        this.authEmail();
      });

      // 인증번호 이메일로 다시 보내기
      resendBtn.addEventListener('click', () => {
        if (inputEmail.value) {
          this.sendAuthNum(inputEmail.value);
        }
      });

      if (signupClient) {
        signupClient.addEventListener('submit', sendClientData);
      }
      if (signupOwner) {
        signupOwner.addEventListener('submit', sendOwnerData);
      }

      // 이메일인증 api에 전달
      async function sendAuthNum() {
        console.log('인증번호 보내기');
        const res = await fetch('/auth/mail', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({
            email: inputEmail.value,
          }),
        });
        const data = await res.json();
        console.log('res = ', data);
        alert(data.message);
      }
      async function authEmail() {
        const res = await fetch('/auth/mail-num', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({
            inputAuthNum: inputAuthNum.value,
          }),
        });
        const data = await res.json();
        console.log('res = ', data);
        alert(data.message);
      }

      async function sendClientData() {
        console.log('sendClientData');
        event.preventDefault();
        const name = document.getElementById('sign-in-name');
        const password = document.getElementById('sign-in-pw');
        const confirmPassword = document.getElementById('sign-in-pw-confirm');
        const res = await fetch('/signup/clients', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({
            email: inputEmail.value,
            name: name.value,
            password: password.value,
            confirm: confirmPassword.value,
          }),
        });
        const data = await res.json();
        console.log('res = ', data);

        alert(data.message);
        if (data.message === '회원가입이 완료되었습니다.') {
          window.location.href = '/login/clients';
        }
      }
      async function sendOwnerData() {
        console.log('sendOwnerData');
        event.preventDefault();
        const name = document.getElementById('sign-in-name');
        const password = document.getElementById('sign-in-pw');
        const confirmPassword = document.getElementById('sign-in-pw-confirm');
        const ownerName = document.getElementById('sign-in-owner-name');
        const ownerNum = document.getElementById('sign-in-owner-num');
        const res = await fetch('/signup/owners', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({
            email: inputEmail.value,
            name: name.value,
            password: password.value,
            confirm: confirmPassword.value,
            owner_name: ownerName.value,
            owner_number: ownerNum.value,
            point: 0,
          }),
        });
        const data = await res.json();
        console.log('res = ', data);
        alert(data.message);
        if (data.message === '회원가입이 완료되었습니다.') {
          window.location.href = '/login/owners';
        }
      }
    </script>
  </body>
</html>
