<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
    <script src="../views/index.ejs" defer></script>
    <script src="../views/static/js/index.js" defer></script>
    <title>배달의 팔족</title>
  </head>
  <body>
    <!-- header -->
    <%- include('includes/header') %>
    <!-- main -->
    <main class="sign-page">
      <% if (userType === 'user') { %>

      <!-- 유저 로그인 -->
      <h2>유저 로그인</h2>
      <% } else if (userType === 'owner') { %>

      <!-- 사장 로그인 -->

      <h2>사장님 로그인</h2>
      <% } else { %>
      <h2>잘못된 접근이오</h2>

      <%}%>

      <div class="form-inner">
        <div class="input-wrap">
          <label for="">이메일(ID)</label>
          <input type="email" id="sign-in-email" required />
        </div>
        <div class="input-wrap">
          <label for="">password</label>
          <input type="password" id="sign-in-pw" required />
        </div>

        <% if (userType === 'user') { %>
        <!-- 유저 로그인 -->

        <button id="btn-sign-in-user" class="btn-primary btn-full">유저 로그인</button>
        <a href="/sign-up/user" class="link-text">회원가입 하기 ></a>
        <a href="/sign-in/owner">사장님으로 로그인 하기</a>

        <% } else if (userType === 'owner') { %>
        <!-- 사장 로그인 -->
        <button id="btn-sign-in-Owner" class="btn-primary btn-full">사장님 로그인</button>
        <a href="/sign-up/owner" class="link-text">회원가입 하기 ></a>
        <% } else { %>
        <p>잘못된 접근입니다.</p>

        <%}%>
      </div>
    </main>
    <!-- footer -->
    <%- include('includes/footer') %>
    <script>
      const clientLoginBtn = document.getElementById('btn-sign-in-user');
      const ownerLoginBtn = document.getElementById('btn-sign-in-Owner');
      const inputEmail = document.getElementById('sign-in-email');
      const inputPassword = document.getElementById('sign-in-pw');
      // 로그인 버튼
      clientLoginBtn.addEventListener('click', async () => {
        const division = 'Client';
        this.login(division);
      });
      ownerLoginBtn.addEventListener('click', () => {
        console.log('owner btn = ', ownerLoginBtn);
        const division = 'Owner';
        // console.log('오너 로그인');
        this.login(division);
      });

      async function login(param) {
        console.log('param = ', param);
        if (param === 'Client') {
          try {
            const res = await fetch('/login/client', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
              },
              body: JSON.stringify({
                email: inputEmail.value,
                password: inputPassword.value,
              }),
            });
            const data = await res.json();

            console.log('errMessage = ', data);
          } catch (err) {
            console.log(err);
          }
        } else if (param === 'Owner') {
          console.log('Owner Login');
          try {
            const res = await fetch('/login/owner', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
              },
              body: JSON.stringify({
                email: inputEmail.value,
                password: inputPassword.value,
              }),
            });
            const data = await res.json();
            console.log('errMessage = ', data);
          } catch (err) {
            console.log(err);
          }
        }
      }
    </script>
  </body>
</html>
